<launch>
  <include file="$(find wheelchair_bringup)/launch/hokuyo_multi.launch" />
  <include file="$(find wheelchair_bringup)/launch/logging.launch" />
  <include file="$(find phidgets_imu)/launch/imu.launch"/>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
</launch>
