<launch>
  <include file="$(find wheelchair_bringup)/launch/hokuyo_multi.launch" />
  <include file="$(find wheelchair_bringup)/launch/logging.launch" />
  <include file="$(find wheelchair_description)/launch/wheelchair_imu.launch">
    <arg name="port" value="/dev/sensors/arduino"/>
  </include>
</launch>
