<launch>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
	    <!-- <remap from="cmd_vel" to="/twist" /> -->
			<remap from="cmd_vel" to="input/nav/cmd_vel"/>
        <!-- Load common configuration files -->
        <rosparam file="$(find wheelchair_navigation)/config/move_base_params.yaml" command="load" />
        <rosparam file="$(find wheelchair_navigation)/config/mapless/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find wheelchair_navigation)/config/mapless/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find wheelchair_navigation)/config/base_local_planner_params.yaml" command="load" />

        <!-- Load global navigation specific parameters -->
        <rosparam file="$(find wheelchair_navigation)/config/mapless/local_costmap.yaml" command="load" />
        <rosparam file="$(find wheelchair_navigation)/config/mapless/global_costmap.yaml" command="load" />
    </node>

		<node pkg="wheelchair_navigation" type="nav_joy.py" name="nav_joy"/>

	<!--	<node pkg="wheelchair_navigation" type="move_base_scaler_node" name="move_base_scaler"/>   -->

</launch>
