<launch>

  <node pkg="laser_scan_matcher" type="laser_scan_matcher_node" 
    name="laser_scan_matcher_node" output="screen">
    <param name="publish_pose_stamped" value="true"/>
    <remap from="scan" to="/scan_multi"/>
    <param name="fixed_frame" value="odom"/>
    <param name="base_frame" value="base_footprint"/>
    <param name="use_alpha_beta" value="true"/>
    <param name="max_iterations" value="10"/>
  </node>

</launch>
