<launch>
  <arg name="nodelet_manager_name"  value="nodelet_manager"/>
  <arg name="config_file" value="$(find wheelchair_navigation)/cmd_vel_mux_params.yaml"/>
  <remap from="yocs_cmd_vel_mux/cmd_vel" to="output/cmd_vel"/>
 <!-- <remap from="yocs_cmd_vel_mux/cmd_vel" to="cmd_vel"/> -->
  <remap from="yocs_cmd_vel_mux/input/joy/cmd_vel" to="input/joy/cmd_vel"/>
  <remap from="yocs_cmd_vel_mux/input/nav/cmd_vel" to="input/nav/cmd_vel"/>
  <remap from="yocs_cmd_vel_mux/input/spacenav/cmd_vel" to="input/spacenav/cmd_vel"/>
  <remap from="yocs_cmd_vel_mux/input/teleop/cmd_vel" to="input/teleop/cmd_vel"/>
  <remap from="cmd_vel_mux/input/teleop" to="input/teleop/cmd_vel"/>
  <remap from="scan" to="scan_multi"/>
  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager"/>

  <include file="$(find yocs_cmd_vel_mux)/launch/cmd_vel_mux.launch">
    <arg name="nodelet_manager_name"  value="$(arg nodelet_manager_name)"/>
    <arg name="config_file" value="$(arg config_file)"/>
  </include>

  <node pkg="wheelchair_description" type="spacenav_scaler_node" name="spacenav_scaler"/>
<!--  <node pkg="vector_field_movement" type="field_movement.py" name="vector_field"/> -->
</launch>
