<!-- Launch file for physical controllers -->

<launch>

  <include file="$(find spacenav_node)/launch/classic.launch"/>

  <node name="keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py">
	<remap from="cmd_vel" to="input/keyboard/cmd_vel"/>
  </node>

  <node name="joystick" pkg="joy" type="joy_node">
    <param name="autorepeat_rate" type="double" value="5"/>
	  <param name="coalesce_interval" type="double" value="0.2"/>
		<param name= "deadzone" type="double" value=".15"/>
  </node>

  <node name="joystick_controller" pkg="teleop_twist_joy" type="teleop_node">
	  <param name="scale_linear" value="1"/>
    <param name="scale_angular" value="1"/>
	  <remap from="cmd_vel" to="input/joy/cmd_vel"/>
  </node>
</launch>
