<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find wheelchair_description)/urdf/wheelchair_with_swivels.xacro'" />

  <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    


  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="/base_link"/>
    <param name="cloud_destination_topic" value="/merged_cloud"/>
    <param name="scan_destination_topic" value="/scan_multi"/>
    <param name="laserscan_topics" value="/wheelchair_lasers/right /wheelchair_lasers/left" /> <!-- LIST OF THE LASER SCAN TOPICS TO SUBSCRIBE -->
  </node>


<!--
   <include file="$(find wheelchair_description)/launch/wheelchair_odom.launch"/>
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="false"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>
-->
<!--
<node pkg="tf" type="static_transform_publisher" name="odom_to_foot" 
  args="0.0 0.0 0.0 0.0 0.0 0.0 /odom /base_footprint 40" />
-->
</launch>
