<launch>
  <include file="$(find wheelchair_description)/launch/wheelchair_description.launch"/>
  <include file="$(find wheelchair_description)/launch/wheelchair_odom.launch"/>

  <include file="$(find wheelchair_description)/launch/wheelchair_joy.launch">
    <param name="deadzone" type="double" value=".1"/>
  </include>
  <include file="$(find wheelchair_description)/launch/wheelchair_nav_priorities.launch"/>
  <node pkg="ros_pim_bridge" name="ros_pim_bridge_node" type="ros_pim_bridge_node"/>
  <node pkg="wheelchair_description" name="wheelchair_merger" type="merger_delay.bash"/>
</launch>
