<launch>

	<include file="$(find wheelchair_description)/launch/wheelchair_description.launch"/>

	<include file="$(find wheelchair_description)/launch/wheelchair_odom.launch"/>

	<include file="$(find wheelchair_description)/launch/wheelchair_joy.launch"/> 
	<param name="deadzone" type="double" value=".1"/>
</launch>
