<!-- Launch file containing TF and state data for the wheelchair as well as laserscan filters -->

<launch>
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find wheelchair_description)/urdf/wheelchair_description.xacro'" />
  <rosparam command="load" file="$(find wheelchair_description)/params/pointcloud_merger_params.yaml"/>

  <node name="robot_state_publisher" type="robot_state_publisher" pkg="robot_state_publisher">
  	<param name="publish_frequency" value="100"/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
<!--
  <node name="middle_laser" pkg="urg_node" type="urg_node">
	<param name="ip_address" type="string" value="192.168.1.10"/>
	<param name="publish_multiecho" type="bool" value="false"/>
	<param name="frame_id" value="middle_scanner"/>

  </node>
-->
     <node name="right_laser" pkg="urg_node" type="urg_node">
        <param name="ip_address" type="string" value="192.168.1.10"/>
        <!--<param name="publish_multiecho" type="bool" value="false"/> -->
        <param name="frame_id" value="right_scanner"/>
        <remap from="scan" to="/wheelchair_lasers/right"/>
  </node>
  <node name="left_laser" pkg="urg_node" type="urg_node">
        <param name="ip_address" type="string" value="192.168.1.11"/>
        <!-- <param name="publish_multiecho" type="bool" value="false"/> -->
        <param name="frame_id" value="left_scanner"/>
        <remap from="scan" to="/wheelchair_lasers/left"/>
  </node>

  <!-- Min and Max Laser Scan -->

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_left_range">
        <remap from="scan" to="/wheelchair_lasers/left" />
        <remap from="scan_filtered" to="/scan_filtered_left_range"/>
	<!--<remap from="scan_filtered" to="/scan_multi"/>-->
        <rosparam command="load" file="$(find wheelchair_description)/params/laserscan_filter.yaml" />
    </node>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_right_range">
        <remap from="scan" to="/wheelchair_lasers/right" />
        <remap from="scan_filtered" to="/scan_filtered_right_range"/>
	<!--<remap from="scan_filtered" to="/scan_multi"/>-->
        <rosparam command="load" file="$(find wheelchair_description)/params/laserscan_filter.yaml" />
    </node>

<!-- Shadow Filters -->

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_left_shadow">
        <remap from="scan" to="/scan_filtered_left_range" />
        <remap from="scan_filtered" to="/scan_filtered_left_shadow"/>
	<!--<remap from="scan_filtered" to="/scan_multi"/>-->
        <rosparam command="load" file="$(find wheelchair_description)/params/range_laser_filter.yaml" />
    </node>

    <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_right_shadow">
        <remap from="scan" to="/scan_filtered_right_range" />
        <remap from="scan_filtered" to="/scan_filtered_right_shadow"/>
	<!--<remap from="scan_filtered" to="/scan_multi"/>-->
        <rosparam command="load" file="$(find wheelchair_description)/params/range_laser_filter.yaml" />
    </node>

<!-- Angle Filter -->
<!--
 <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_left_angle">
    <remap from="scan" to="/scan_filtered_left_shadow" />
    <remap from="scan_filtered" to="/scan_filtered_left_angle"/>
    <rosparam command="load" file="$(find wheelchair_description)/params/angle_laserscan_filter.yaml" />
</node>

<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_right_angle">
    <remap from="scan" to="/scan_filtered_right_shadow" />
    <remap from="scan_filtered" to="/scan_filtered_right_angle"/>
    <rosparam command="load" file="$(find wheelchair_description)/params/angle_laserscan_filter.yaml" />
</node> -->

<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_left_box">
   <remap from="scan" to="/scan_filtered_left_shadow" />
   <remap from="scan_filtered" to="/scan_filtered_left"/>
   <rosparam command="load" file="$(find wheelchair_description)/params/box_laserscan_filter.yaml" />
</node>

<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_right_box">
   <remap from="scan" to="/scan_filtered_right_shadow" />
   <remap from="scan_filtered" to="/scan_filtered_right"/>
   <rosparam command="load" file="$(find wheelchair_description)/params/box_laserscan_filter.yaml" />
</node>

<!--
<node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter_scan_multi">
    <remap from="scan" to="/scan_multi_unfiltered" />
    <remap from="scan_filtered" to="/scan_multi"/>
    <rosparam command="load" file="$(find wheelchair_description)/params/angle_scan_multi_filter.yaml" />
</node> -->

<!--
  <node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen">
    <param name="destination_frame" value="/base_footprint"/>
    <param name="cloud_destination_topic" value="/merged_cloud"/>
    <param name="scan_destination_topic" value="/scan_multi"/>
    <param name="laserscan_topics" value="scan_filtered_right scan_filtered_right"/>

  </node>
-->
  <!-- <node name="set_merge_params" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters laserscan_multi_merger">
  	<param name="range_min" value="0.45"/>
   	<param name="range_max" value="10.1"/>
    <param name="angle_min" value="-3.14"/>
    <param name="angle_max" value="3.14"/>
  </node> -->


</launch>
