<launch>

	<node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
	    <!-- <remap from="cmd_vel" to="/twist" /> -->

        <!-- Load common configuration files -->
        <rosparam file="$(find test_simulation)/move_base_params.yaml" command="load" />
        <rosparam file="$(find test_simulation)/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find test_simulation)/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find test_simulation)/base_local_planner_params.yaml" command="load" />

        <!-- Load global navigation specific parameters -->
        <rosparam file="$(find test_simulation)/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find test_simulation)/global_costmap_params.yaml" command="load" />
    </node>
</launch>
